<% if users.any? %>
  <% users.each do |user| %>
  <% unless user.admin %>
  <div class="follow-users-container">
    <div class="follow-users-left">
      <% if user.image? %>
        <%= image_tag user.image.to_s, :size => '80x80', class: 'mypage-article-img' %>
      <% else %>
        <%= image_tag 'human.jpg', :size => '80x80', class: 'mypage-article-img' %>
      <% end %>
    </div>
    <div class="follow-users-right">
      <div class="user-name">
        <h3><%= user.name %></h3>
      </div>
      <div class="guide">
        <p><%= link_to 'プロフィールへ', user, class: 'nav-link' %></p>
      </div>
    </div>
  </div>
  <% end %>
  <% end %>
<% end %>