<div class="withdrawal-container">
  <h1><%= @user.name %>の退会ページ</h1>
  <p>※退会すると全てのデータが削除されます</p>
  <div class="withdrawal-btn-wrapper">
    <%= link_to "退会", user_path, method: :delete, data: { confirm: 'You sure?' }, class: 'withdrawal-btn' %>
  </div>
</div>