<div class="prefecture-detail-container">
  <h1><%= @prefecture.name %>出身のユーザ一覧</h1>
  <% if @users.any? %>
  <%= render 'users/users', users: @users %>
  
  <% else %>
    <p>現在は該当するユーザがいないようです。</p>
    <div>
      <%= link_to 'ユーザ検索に戻る', search_path, class: 'nav-link under-sign-login'%>
    </div>
  <% end %>
</div>
